<!doctype html>
<html lang="en">
<head>
	<title>Welcome to Emotiv</title>
	<meta name="description" content="Collaborative payments made easy.">	
	
	<!-- include head & reveal slide partials -->
	<% include ./partials/head %>
	<% include ./partials/slides/styles %>

</head>

<body>

<!-- include navbar partial -->
<% include ./partials/navbar %>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-bug"></span> Whelp!</h1>

        <p>I can't seem to find that. Good thing you can always go home.</p>

        <a href="http://emotiv.io" class="btn btn-default" style="color:white;"><span class="fa fa-home"></span> Yes, please take me there.</a>
    </div>

</div>
</body>
</html>