<!--
To change this template use Tools | Templates.
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <title></title>
</head>

<body>


    <div style="position:relative;">
        <form action="/upload" enctype="multipart/form-data" method="post">
            <p>
                Name The File:
                <br>
                <input type="url" name="page_name" size="30">

            </p>
            <p>
                Please update the newly created landing page (the .html file):
                <br>

                <a class='btn btn-primary' href='javascript:;'>
                    <input type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40" onchange='$("#upload-file-info").html($(this).val());'>
                </a>
                &nbsp;
                <span class='label label-info' id="upload-file-info"></span>
			</p>
		</form>
    </div>

</body>

</html>