		<footer class="footer footer-1">
		                <div class="container">
		                    <div class="row">
		                        <div class="col-sm-4">
		                            <ul class="social-links">
		                                <li><a href="https://www.facebook.com/giftstart" target="_blank"><i class="icon-facebook"></i></a>
		                                </li>
		                                <li><a href="https://twitter.com/giftstarter" target="_blank"><i class="icon-twitter"></i></a>
		                                </li>
		                                <li><a href="https://www.youtube.com/channel/UCDYNpHMV5-tOC1T9SGs8elQ" target="_blank"><i class="icon-youtube-alt"></i></a>
		                                </li>
		                                <li><a href="https://www.pinterest.com/Giftstarter/" target="_blank"><i class="icon-path"></i></a>
		                                </li>
		                            </ul>
		                        </div>
		
		                        <div class="col-sm-4 text-center">
		                            <p class="sub">
		                                © Copyright 2016 <a href="http://emotiv.io" target="_blank">Emotiv Labs</a>&nbsp;- All Rights Reserved
		                            </p>
		                        </div>
		
		                        <div class="col-sm-4 text-right">
		                            <a href="#">
		                                <img alt="Logo" src="/img/emotiv-logo-icon-144.png">
		                            </a>
		                        </div>
		                    </div>
		                </div>
		            </footer>
		
		   