<div class="nav-container">
    <nav class="nav-1 overlay dark">
        <div class="navbar">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <a href="#">
                            <img class="logo" alt="Logo" src="/img/emotiv-logo-comp-white.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>